.select-block {
  margin-top: 0.6rem;
}
  
.select-block select {
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in--background);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  color: #333;
}

@media (min-width: 700px) {
  .select-block {
    margin-top: 0.6rem;
  }
}